@import url('https://fonts.googleapis.com/css2?family=Galada&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    border:0;
}

body{
    overflow-x: hidden;
    font-size: 10px;
    width: 100%;
}
nav{
    margin: 1rem 4rem 0rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 10rem;
    height: 7rem;
}
nav>ul{
    display: flex;
    gap:5rem;
}
nav>ul>li{
    list-style: none;
}
nav>ul>li>a{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    text-decoration: none;
    color: black;
}
nav>ul>li>a:hover{
    text-decoration: underline solid #618264;
    color: #618264;
    padding-bottom: .5rem;
 
}
nav>button{
    color:white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 1.5rem 5rem;
    border-style: solid;
    border: 0.1px;
    border-radius: 5rem;
    background-color: #618264;
}
.menu{
    display: none;
}

.bloc1{
    gap: 4rem;
    display: flex;
    padding: 5rem 4rem;
}
.bloc1>img{
    flex: 2;
}
   
.list_image{
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
}
.barre_text{
    display: flex;
}
.barre_verte{
    background-color: #618264;
    width: 13px;
    height: 50px;
    border-radius: 10px;
}
.text{
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-size: 20px;
    font-weight: 600;
    align-self: center;
    padding-left: .7rem;
}
.p_image{
    display: flex;
    gap: 1rem;

}
.image{
    flex: 1;
    display: flex;
}
.p_image>div{
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.p_image>div>P{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    
}

.p_image>div>h1{
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.bloc2{
    display: flex;
    justify-content: space-between;
    padding: 5rem 4rem;
}
.bloc2>div{
}
.bloc2>div>img{
    width: 340px;
    height: 350px;
}
.bloc2>div>p{
    color: #618264;
    font-style: italic;
}
.bloc2>div>h1{
    color: black; 
}
.bloc3{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.bloc3>h1{
    text-align: center;
   padding: 2rem 0rem;
}
.bloc3>div{
    display: flex; 
    justify-content: center;
}
.bloc3>div>iframe{
    border-radius: 1.6rem;
}
.bloc4{
    display: flex;
    padding: 1rem 4rem;
    gap: 3rem;
}

.bloc4>main>iframe{
    border-radius: 20px;
}
.bloc4>img{
    flex: 1;
}
.bloc4>div{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 1;
}
.bloc4>div>h1{
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-size: 2rem;
    color: #618264; 
}

.bloc4>div>p{
    font-family: "open sans" sans-serif;
    font-size: 1.2rem;
    flex-direction: column;
}
.bloc4>div>div{
    display: flex;
    gap: 1.5rem;
}
.bloc4>div>div>img{
    width: 1.6rem;
    height: 1.6rem;
}
.bloc5{
    display: flex;
    justify-content: space-between;
    padding: 5rem 4rem;
}
.bloc5>div{
     
}
.bloc5>div>img{
    width: 340px;
    height: 350px;
}
.bloc5>div>p{
    color: #618264;
    font-style: italic;
}
.bloc5>div>h1{
    color: black; 
}


                                                                                 

